<div class="banner-left">

    <div class="con-text">
        <a href="/TraditionalFoodsBlog/TraditionalFoodsBlogIndex">

            <div class="grid1-img">
                <img src="~/Template/content/images/glass.png" alt="">
            </div>
            <div class="grid1-desc">
                <p>Foods</p>
            </div>
            <div class="clear"></div>

        </a>
    </div>

    <div class="con-text">
        <a href="/HotelsBlog/HotelsBlogIndex">
            <div class="grid1-img">
                <img src="~/Template/content/images/key.png" alt="">
            </div>
            <div class="grid1-desc">
                <p>Hotels</p>
            </div>
            <div class="clear"></div>
        </a>
    </div>
    <div class="con-text">
        <a href="/Blog/BlogIndex">
            <div class="grid1-img">
                <img src="~/Template/content/images/flight.png" alt="">
            </div>
            <div class="grid1-desc">
                <p>Blogs</p>
            </div>
            <div class="clear"></div>
        </a>
    </div>
    <div class="con-text">
        <a href="/Contact/ContactIndex">
            <div class="grid1-img">
                <img src="~/Template/content/images/group.png" alt="">
            </div>
            <div class="grid1-desc">
                <p>Contact</p>
            </div>
            <div class="clear"></div>
        </a>

    </div>

    <div class="clear"></div>
</div>
