<div class="header">
    <div class="wrap">

        <div class="indent">
            <h2 class="logo"><a href="~/Home/HomeIndex" style="color:white">Traveler's Journal</a></h2>
        </div>
        <div class="con-right">
            @*<div class="grid1-l-img">
                <img src="~/Template/content/images/contact.png" style="color:whitesmoke" alt="">
            </div>*@
            <div class="grid1-l-desc">
                <p>Contact : <a href="tel:+90 552 234 32 53" style="color:whitesmoke">+90 552 234 32 53</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

